.iconList {
  min-width: 10px !important;
  width: 40px;
  margin-right: 7px;
}
.iconListAvatar {
  width: 35px !important;
  height: 35px !important;
}
.listText {
  width: 95px;
}
.listItem {
  padding-left: 0 !important;
  padding-right: 0px !important;
  margin-right: 10px !important;
}
.rightIconList{
  right : 5px !important;
}